<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Five Card Stud</title>
</head>
<body>
    <button id="remove-human-player" hidden>
        Remove Human Player
    </button>
    <button id="reset-game">
        Reset Game
    </button>
    <div id='root-container'>
        <div id='main-container'>

        </div>
    </div>

    <link rel="stylesheet" href="{{url_for('static', filename='show.css')}}">
    <script type="text/javascript" src="{{url_for('static', filename='jquery341min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='fiveCardStud.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='constant.js')}}"></script>
</body>
</html>